<h2>New Task</h2>

<%= render "form.html", Map.put(assigns, :action, task_path(@conn, :create)) %>

<span><%= link "View tasks", to: task_path(@conn, :index) %></span>

<p><%= link "Go to Feed", to: "/feed" %></p>
