<div class="row">
  <div class="col" id="index-page">
    <h1>Join a Game</h1>
    <h6> Enter the name of the Game you want to join</h6>
    <p><input type="text" class="game-input" id="game-input"></p>
    <p><a href="javascript:" class="btn btn-primary" id="game-button" >Join Game</a></p>
  </div>
</div>
